<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ready Page</title>
    <link rel="stylesheet" href="css/first_report.css">
</head>

<body>
    <header>
        <button id="main_page_button" onclick="window.location.href='/profile'">Main Page</button>

        <img class="logo" src="imgs/logo.png" alt="Company Logo">

        <a href="/" class="col-3 btn btn-primary">Logout</a>
    </header>

    <div class="report">
        <iframe title="First Volume (Sales) Report Prototype" width="1140" height="541.25"
            src="https://app.powerbi.com/reportEmbed?reportId=35512455-3181-40ef-b757-2fafbcd4f5cb&autoAuth=true&ctid=c52b8ad3-43db-4c16-a3f0-6ee196fb6d6d"
            frameborder="0" allowFullScreen="true"></iframe>
    </div>




</body>

</html>