<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Financial Reports</title>
  <link rel="stylesheet" href="css/profilepage.css">
</head>

<body>
  <header class="header">
    <a href="profile.ejs">
      <img class="logo" src="imgs/logo.png" alt="Company Logo">
    </a>


    <img class="tool_logo" src="imgs/tool_logo.png" alt="Company Logo">

    <div class="child_header">
      <a href="/" class="col-3 btn btn-primary">Logout</a>
      <p><strong>User Name</strong>: <%= user.userName %>
      </p>
      <p><strong>Email</strong>: <%= user.email %>
      </p>
    </div>

  </header>


  <div class="container">
    <div class="child">

    </div>

    <div class="child">
      <img src="imgs/bazooka_team.jpg" alt="Fire it away">
    </div>
  </div>

  <script>
    // You can add JavaScript code here to handle form submission and AJAX requests.
  </script>
</body>

</html>