<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Financial Reports</title>
  <link rel="stylesheet" href="css/profilepage.css">
</head>

<body>

  <button class="btn-reports-popup" onclick="menuPopup()">
    <!-- <div class="original">Reports</div> -->
    <div class="letters">

      <span>R</span>
      <span>E</span>
      <span>P</span>
      <span>O</span>
      <span>R</span>
      <span>T</span>
      <span>S</span>
    </div>
  </button>

  </button>

  <div id="leftColumn" class="left_column">
    <div id="left_reports_section">
      <span id="first_report"> <a href="/first_report"> Apple </a> </span>
      <span id="second_report"> Apple </span>
      <span id="third_report"> Apple </span>
      <span id="forth_report"> Apple </span>
    </div>

  </div>

  <div class="right_column">
    <header class="header">

      <img class="logo" src="imgs/logo.png" alt="Company Logo">

      <img class="tool_logo" src="imgs/tool_logo.png" alt="Company Logo">

      <a href="/" class="col-3 btn btn-primary">Logout</a>
      <!-- <p><strong>User Name</strong>: <%= user.userName %>
        </p>
        <p><strong>Email</strong>: <%= user.email %>
        </p> -->

    </header>


    <div class="container1">

      <h1 id="container_headline"> Dashboard Delight</h1>

      <span class="description"> Bazookanator is your go-to portal for effortlessly accessing and navigating
        PowerBI dashboards. Whether you're a data enthusiast or simply looking to keep a keen eye on your business
        metrics, you'll find viewing your data as smooth as a proper cup of tea. Ready to
        dive into the numbers? Click on the button in the upper left corner and start "The Bubble That Lasts"!</span>

      <img src="imgs/bazooka_team.jpg" alt="Fire it away">
      <button class="btn-open-popup" onclick="togglePopup()"> Questions, mate?
      </button>

    </div>

    <div class="container2">

      <h1 id="container_headline"> We have got you covered</h1>

      <span class="description"> This application is available to you 24/7. Whether you’re seeking information on HR,
        Marketing, Sales, Finance, or just curious about how much Hershey & Mars missed their investors’ targets, we are
        sure you will leave as happy as the kid below! </span>
      <img class="smiling_kid" src="imgs/smiling_kid.jpeg" alt="Fire it away">
      </button>

    </div>

    <div class="container3">
      <h1 id="container_headline"> Something is missing or have any questions? </h1>

      <span class="description"> If you’re unsure about how this wicked widget works or have any recommendations, feel
        free to
        check the FAQ section below. For more specific questions like ‘What comes first: A Bazooka Bubble Gum burst of
        flavor or a Ring Pop that sparkles under the party lights?’—click the button in the bottom right corner. </span>

      <img class="smiling_kid" src="imgs/two_kids_with_gum_bubles.jpeg" alt="Fire it away">

    </div>

    <div id="popupOverlay" class="overlay-container">
      <div class="popup-box">
        <form class="form">
          <p class="title">Questions, mate </p>
          <p class="message"> </p>
          <div class="flex">
            <label>
              <input required="" placeholder="" type="text" class="input">
              <span>Firstname</span>
            </label>

            <label>
              <input required="" placeholder="" type="text" class="input">
              <span>Lastname</span>
            </label>
          </div>

          <label>
            <input required="" placeholder="" type="email" class="input">
            <span>Question</span>
          </label>
          <button class="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="container4">
      <h1 id="container_headline"> Fruqently Asked Questions</h1>
      <details>
        <summary>What’s the game plan if I've forgotten my password?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>How do I make my grand entrance to the dashboards?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>What types of dashboards are on offer?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>What should I do if I can't find a specific dashboard?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>How frequently dashboards are updated</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>Can I export the data, or is that not cricket?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>How do I get in touch with the chaps in support for a spot of help?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>What’s the proper procedure if I stumble upon a bug or technical snafu?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>Why is my dashboard not loading properly? Has it decided to take a holiday?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
    </div>

    <div class="container5">
      <button class="instagram_button">
        <span class="svgContainer">
          <svg fill="white" class="svgIcon" viewBox="0 0 448 512" height="1.5em" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
            </path>
          </svg>
        </span>
        <span class="BG"></span>
      </button>
    </div>


    <script>
      function togglePopup() {
        const overlay = document.getElementById('popupOverlay');
        overlay.classList.toggle('show');
      }

      function menuPopup() {
        const overlay = document.getElementById('leftColumn');
        overlay.classList.toggle('show');
      }
    </script>
</body>

</html>