<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Financial Reports</title>
  <link rel="stylesheet" href="css/profilepage.css">
</head>

<body>

  <button class="btn-reports-popup" onclick="menuPopup()">
    <!-- <div class="original">Reports</div> -->
    <div class="letters">

      <span>R</span>
      <span>E</span>
      <span>P</span>
      <span>O</span>
      <span>R</span>
      <span>T</span>
      <span>S</span>
    </div>
  </button>

  </button>

  <div id="leftColumn" class="left_column">
    <div id="left_reports_section">
      <span id="first_report"> <a href="/first_report"> Demo Report </a> </span>
      <span id="second_report"> <a href="/second_report"> Board OP9 Embedded </a> </span>
      <span id="third_report"> Apple </span>
      <span id="forth_report"> Apple </span>
    </div>

  </div>

  <div class="right_column">
    <header class="header">

      <img class="logo" src="imgs/logo.png" alt="Company Logo">

      <img class="tool_logo" src="imgs/tool_logo.png" alt="Company Logo">

      <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    </header>


    <div class="container1">

      <h1 id="container_headline"> Dashboard Delight</h1>

      <span class="description"> Bazookanator is your go-to portal for effortlessly accessing and navigating
        PowerBI dashboards. Whether you're a data enthusiast or simply looking to keep a keen eye on your business
        metrics, you'll find viewing your data as smooth as a proper cup of tea. Ready to
        dive into the numbers? Click on the button in the upper left corner and start "The Bubble That Lasts"!</span>

      <img src="imgs/bazooka_team.jpg" alt="Fire it away">
      <button class="btn-open-popup" onclick="togglePopup()"> Questions, mate?
      </button>

    </div>

    <div class="container2">

      <h1 id="container_headline"> We have got you covered</h1>

      <span class="description"> This application is available to you 24/7. Whether you’re seeking information on HR,
        Marketing, Sales, Finance, or just curious about how much Hershey & Mars missed their investors’ targets, we are
        sure you will leave as happy as the kid below! </span>
      <img class="smiling_kid" src="imgs/smiling_kid.jpeg" alt="Fire it away">
      </button>

    </div>

    <div class="container3">
      <h1 id="container_headline"> Something is missing or have any questions? </h1>

      <span class="description"> If you’re unsure about how this wicked widget works or have any recommendations, feel
        free to
        check the FAQ section below. For more specific questions like ‘What comes first: A Bazooka Bubble Gum burst of
        flavor or a Ring Pop that sparkles under the party lights?’—click the button in the bottom right corner. </span>

      <img class="smiling_kid" src="imgs/two_kids_with_gum_bubles.jpeg" alt="Fire it away">

    </div>

    <div id="popupOverlay" class="overlay-container">
      <div class="popup-box">
        <form class="form" method="POST" action="/sendEmail">
          <p class="title">Questions, mate </p>
          <p class="message"> </p>
          <div class="flex">
            <label>
              <input required="" placeholder="" type="text" class="input" name="first_name">
              <span>Firstname</span>
            </label>

            <label>
              <input required="" placeholder="" type="text" class="input" name="last_name">
              <span>Lastname</span>
            </label>
          </div>

          <label>
            <input required="" placeholder="" type="email" class="input" name="email">
            <span>Email</span>
          </label>

          <label>
            <input required="" placeholder="" type="text" class="input" name="message">
            <span>Question</span>
          </label>
          <button type="submit" class="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="container4">
      <h1 id="container_headline"> Fruqently Asked Questions</h1>
      <details>
        <summary>What’s the game plan if I've forgotten my password?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>How do I make my grand entrance to the dashboards?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>What types of dashboards are on offer?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>What should I do if I can't find a specific dashboard?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>How frequently dashboards are updated</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>Can I export the data, or is that not cricket?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>How do I get in touch with the chaps in support for a spot of help?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>What’s the proper procedure if I stumble upon a bug or technical snafu?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
      <details>
        <summary>Why is my dashboard not loading properly? Has it decided to take a holiday?</summary>
        <div>
          The tags <em>details</em> and <em>summary</em> have you covered.
        </div>
      </details>
    </div>

    <div class="container5">
      <ul class="example-2">
        <li class="icon-content">
          <a href="https://x.com/goribaldy19" aria-label="X" data-social="X" id="instagram">
            <div class="filled"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x"
              viewBox="0 0 16 16" xml:space="preserve">
              <path
                d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"
                fill="currentColor"></path>
            </svg>
          </a>
          <div class="tooltip">X</div>
        </li>
        <li class="icon-content">
          <a href="https://www.linkedin.com/in/danielgorbachev1/" aria-label="LinkedIn" data-social="linkedin"
            id="linkedin">
            <div class="filled"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin"
              viewBox="0 0 16 16" xml:space="preserve">
              <path
                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"
                fill="currentColor"></path>
            </svg>
          </a>
          <div class="tooltip">LinkedIn</div>
        </li>
        <li class="icon-content">
          <a href="https://github.com/dgorik" aria-label="GitHub" data-social="github" id="github">
            <div class="filled"></div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
              viewBox="0 0 16 16" xml:space="preserve">
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
                fill="currentColor"></path>
            </svg>
          </a>
          <div class="tooltip">GitHub</div>
        </li>
      </ul>

    </div>


    <script src="javascript/profile.js" type="text/javascript" defer></script>

</body>

</html>