<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ready Page</title>
    <link rel="stylesheet" href="css/readypage.css">
</head>

<body>
    <header>
        <img class="logo" src="imgs/logo.png" alt="Company Logo">
    </header>

    <main class="container">
        <h1>Before We Proceed</h1>
        <p>I need to make sure you are not an infiltrator!</p>
        <a href="/test" class="btn-primary">Ready to Take a Test?</a>
        <div class="image">
            <img src="imgs/a happy kid holding a candy.jpg" alt="Happy Kid Holding Candy" class="responsive-image">
        </div>
    </main>


</body>

</html>