<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ready Page</title>
    <link rel="stylesheet" href="css/questions.css">
</head>



<header>
    <img class="logo" src="imgs/logo.png" alt="Company Logo">
</header>

<body>
    <div class="question" id="question1">
        <h2> Question 1:</h2>
        <p id="question">What is a location (city) of this disco?</p>
        <img id="lomino_dance" src="imgs/lomino_dance.gif" alt="Company Logo">
        <input type="text" id="answer1" placeholder="Enter your answer here">
        <button class="btn-primary" onclick="checkAnswer1()"> Push Pop It</button>
    </div>

    <div class="question" id="question2">
        <h2> Question 2:</h2>
        <p id="question">What is a location (city) of this discotheque?</p>
        <img id="lomino_dance" src="imgs/lomino_dance.gif" alt="Company Logo">
        <input type="text" id="answer1" placeholder="Enter your answer here">
        <button class="btn-primary" onclick="checkAnswer2()"> Push Pop It</button>
    </div>

    <script src="javascript/test.js" type="text/javascript" defer></script>


</body>

</html>