.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

.body {
    display: flex
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.child_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body header nav ul {
    list-style: none;
    display: flex;
    gap: 50px
}

body header nav li {
    display: inline-block;
}


.btn-primary {
    display: inline-block;
    height: 25%;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.overlay-container {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-container.show {
    display: flex;
    opacity: 1;
}

.btn-open-popup {
    display: flex;
    margin-left: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.btn-primary:hover {
    background-color: #0056b3;
    /* Darker shade for hover effect */
}

.logo {
    height: 90px;
    width: 220px;
    /* Adjust size as needed */
    /* margin-left: 20px; */
    /* Optional: spacing from the edge */
}

.tool_logo {
    height: 100%;
    width: 300px;
}