body {
    display: grid;
    grid-template-columns: 5%, 95%
}

.left_column {
    display: none;
}

.left_column.show {
    display: grid;
    background-color: #f0f0f058;
    grid-column: 1;
    margin-top: 60px;
}

.right_column {
    grid-column: 2;
    margin-top: 10px;
}

.left_column_menu {
    position: sticky;
    top: 20
}

.header {
    display: flex;
    justify-content: space-around;
    /* Define columns for the layout */
    /* Align items vertically center */
}

.container1,
.container2,
.container3 {
    display: flex;
    width: 95%;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.smiling_kid {
    margin: auto;
    width: 50%;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}


.btn-primary {
    height: 25%;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-reports-popup {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: fixed;
    margin-top: 10px;
}

.overlay-container {
    display: none;
}

.overlay-container.show {
    display: block;
    position: fixed;
    bottom: 25%;
    right: 2%;
}

.btn-open-popup {
    position: fixed;
    bottom: 10%;
    right: 2%;
    width: 10%;
    padding: 10px 20px;
    font-size: 14px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-close-submit,
.btn-close-popup {
    width: 75%;
    margin: auto;
    font-size: 10px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.popup-box {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    row-gap: 35px;
}

.form-container {
    display: grid;
    row-gap: 5%;
}

.btn-primary:hover {
    background-color: #0056b3;
    /* Darker shade for hover effect */
}

.logo {
    height: 90px;
    width: 220px;
    /* Adjust size as needed */
    /* margin-left: 20px; */
    /* Optional: spacing from the edge */
}

.tool_logo {
    height: 100%;
    width: 300px;
}