/* Apply general styles to the body */
body {
    font-family: Arial, sans-serif;
    margin-top: 80px;
    padding: 0;
    background-color: #f8f9fa;
    /* Light background color */
    display: flex;
    align-items: center;
    /* Vertically center items */
    justify-content: center;
    /* Center items vertically */
    /* Center items horizontally */
    min-height: 100vh;
    text-align: center;
    /* Center text in the entire body */
}

/* Style the header */
header {
    display: flex;
    align-items: center;
    /* Vertically center items */
    justify-content: center;
    /* Space between logo and text */
    width: 100%;
    /* Ensure header spans the full width of the viewport */
    /* padding: 20px; */
    /* Add padding for spacing */
    position: absolute;
    top: 0;
    /* Position header at the top */
    left: 0;
    right: 0;
}

/* Style the logo */
.logo {
    height: 90px;
    width: 220px;
    /* Adjust size as needed */
    /* margin-left: 20px; */
    /* Optional: spacing from the edge */
}

/* Style for the main container */
main.container {
    background-color: #ffffff;
    /* White background for the main content */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for better visual appearance */
}

#question1 {
    padding-top: 400px;
}

/* Style for the button */
.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    /* Darker shade for hover effect */
}

.image {
    width: 100%;
    height: 100%
}

img {
    margin-top: 30px;
    height: 400px;
    width: 300px
}