<!-- <%- include('../partials/header') -%> -->

<main class="container">
  <div>
    <h3> Please check your email for verification</h3>
  </div>
</main>

<!-- <%- include('../partials/header') -%> -->
